<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- The location where Barotrauma is installed : path -->
        <add key="BarotraumaLocation" value="C:\Program Files (x86)\Steam\steamapps\common\Barotrauma" />
        <!-- The identifier of the language used : string -->
        <add key="language" value="English" />
        <!-- The translated name of the language : string -->
        <add key="translatedname" value="English" />
        <!-- Whether the language has whitespace in it or not : bool -->
        <add key="nowhitespace" value="false" />
    </appSettings>
</configuration>
